input{
    width:100px;
    height: 20px;
}

form{
    width: 320px;
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
    background-color: palegreen;
    text-align: center;
}

.b{
    margin: 10px 0px 10px 0px;
    background-color: aquamarine;
    border-radius: 5px;
}
